<div>
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">{{model.formHeaderText}}</h2>
        <input type="email" class="form-control" placeholder="{{model.emailPlaceholderText}}" ng-model="model.form.email" ng-focus="focusInput()" required autofocus>
        <input type="password" class="form-control" placeholder="{{model.passwordPlaceholderText}}" ng-model="model.form.password" ng-focus="focusInput()" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" ng-model="model.form.rememberMe"> {{model.rememberMeCheckBoxText}}
        </label>

        <div class="alert alert-danger" ng-hide="isInputValid()">
            {{model.invalidInputAlertText}}
            <a href="#/forgot">{{model.forgotPasswordLinkText}}</a>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">{{model.loginButtonText}}</button>
    </form>
</div>
